footer {
  font-style: italic;
  font-family: 'Italiana', serif;
  text-align: center;
  display: block;
}

/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;700&family=Cinzel:wght@400;500;600;700;800;900&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800&family=Italiana&family=Manrope:wght@200;300;400;500;600;700;800&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Tinos:ital@0;1&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,300;1,400;1,500;1,800;1,900&family=Vollkorn:ital,wght@0,400;1,400;1,500&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    /*========== Colors ==========*/

    /* HSL color mode */
    --first-color: #bb8c94;
    --first-color-second: #372216;
    --first-color-third: #786a5d;
    --first-color-third-lighter: #e8b19d;
    --first-color-black: #372216;
    --first-color-hover: #f3E0D1;
    --first-color-white: #786a5d;
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --first-font: 'Italiana', serif;
    --thai-font: 'Urbanist', sans-serif;
    --second-font: 'Playfair Display', serif;
    --span-font: 'Manrope', sans-serif;
    --special-font: 'Imbue', serif;
    --special-second-font: 'Nanum Myeongjo', serif;
    --special-third-font: 'Gloock', serif;
    

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

span {
  font-family: var(--span-font);
}

.background{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #eed8e3;
  z-index: -100;
}

#background__up {
  position: absolute;
  height: 800px;
  width: 800px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, #a7a1b8, #eed8e3);
  filter: blur(80px);
  animation: down 40s infinite;
}

#background__down {
  position: absolute;
  right: 0;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, #c8cbad, #a7a1b8);
  filter: blur(80px);
  animation: up 30s infinite;
}

#background__left {
  position: absolute;
  height: 800px;
  width: 800px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, #eed8e3, #c8cbad);
  filter: blur(80px);
  animation: right 40s infinite;
}

#background__right {
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, #be6674, #ffe4c0);
  filter: blur(80px);
  animation: left 30s infinite;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section {
  padding: 2rem 0 4rem;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== HEADER ====================*/

.header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  align-items: center;
  z-index: 1000;
  justify-content: space-between;
  padding: 30px 100px;
  display: flex;
}

/*==================== NAV ====================*/

.nav__logo{
  font-family: var(--first-font);
  font-size: 35px;
  color: var(--first-color-white);
  text-decoration: none;
  z-index: 1000;
}

.nav__logo:hover{
  color: var(--first-color-second);
  font-style: italic;
}

.nav__link{
  display: flex;
  z-index: 1000;
  align-items: center;
  font-size: 30px;
  color: var(--first-color-white);
  font-weight: var(--font-medium);
  font-family: var(--first-font);
  text-decoration: none;
}

.nav__link:hover{
  color: var(--first-color-second);
  font-style: italic;
}

/*==================== NAV ====================*/

#dropdown-basic-button {
  all: unset;
  cursor: pointer;
  font-size: 30px;
  color: var(--first-color-white);
  font-weight: var(--font-medium);
  font-family: var(--first-font);
}

#dropdown-basic-button:hover {
  color: var(--first-color-second);
  font-style: italic;
}

/* Style dropdown menu items */
.dropdown-menu {
  background-color: transparent;
  border: none;
}

.dropdown-item {
  background-color: transparent;
  font-size: 20px;
  color: var(--first-color-white);
}

.dropdown-item:hover {
  background-color: transparent;
  color: var(--first-color-second);
}

/*==================== TRANSITION ====================*/

.transition__slide-in{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--first-color-white);
  transform-origin: bottom;
}

.transition__slide-out{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--first-color-white);
  transform-origin: top;
}

/*==================== NAV ====================*/

* {margin: 0; padding: 0; box-sizing: border-box;}
.spacer {width: 100%; height: 100px;}

body {font-family: "Open Sans", sans-serif;}

nav {
  width: 100%; 
  background-color: transparent; 
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 20px; 
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
nav .nav-bar {
  padding: 20px; 
  display: flex; 
}
nav .nav-bar .nav-bar_item {
  list-style-type: none;
  padding: 0px 20px;
}
nav .nav-bar .dropdown {
  position: relative;
}
nav .nav-bar .dropdown:after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  transform: rotate(-45deg);
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover:after{
  transform: rotate(135deg);
}
nav .nav-bar .dropdown .project {
  position: absolute;
  transform: translateX(-20px) translateY(5px);
  width: 150px;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover .project{
  height: 220px;
  
  visibility: visible;
}

nav .nav-bar .dropdown .project .drop-item {
  list-style-type: none;
  margin-bottom: 10px;
}
nav .nav-bar .nav-bar_item a {
  position: relative;
  display: block; 
  padding-bottom: 5px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
nav .nav-bar .nav-bar_item a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: 0.1s ease-in-out;
}
nav .nav-bar .nav-bar_item a:hover:after {
  width: 100%;
}