.midninestudios{
  text-align: center;
  height: 100%;
}

.midninestudios__main{
  width: 100%;
  height: 100%;
}

/*==================== INTRODUCTION ====================*/

.intro__section{
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.intro__container{
  width: 100%;
  height: 100%;
}
  
.intro__content{
  padding-top: 10rem;
}

.intro__title{
    font-family: var(--second-font);
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.intro__title h1{
    color: var(--first-color-third);
    padding: 0 6rem;
    font-size: 8rem;
    animation: movingLetter 6s linear infinite;
}

@keyframes movingLetter{
    0% {
        transform: translateX(25%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.intro__description{
    margin-top: 5rem;
    width: 65%;
    text-align: justify;
    transform: translateX(150px);
    animation: slideLeft 1s ease forwards;

}

.intro__description span{
  color: var(--first-color-third);
  font-size: 18px;
}

.intro__description span :hover{
  color: var(--first-color-second);
}

@keyframes slideLeft {
    0% {
      transform: translateX(-600px);
    }
    100% {
      transform: translateX(0px);
    }
}

.intro__button,
.intro__button__description__1{
    margin-top: 0rem;
    margin-left: 80%;
    text-align: justify;
}

.intro__button__img{
    width: 10%;
    height: 5%;
    margin-left: 80%;
    margin-top: -5rem;
}

.intro__button__img:hover{
  filter: grayscale(100%);
}

.intro__button__description__2{
  margin-top: 0rem;
  margin-left: 95%;
  text-align: justify;
}

/*==================== LAYOUT ====================*/

.midninestudios__main{
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.midninestudios__container {
  overflow: hidden;
  max-width: 100%;
  margin: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

/*==================== GRAPHICS ====================*/

.graphics__content{
    padding-top: 5rem;
    align-content: center;
    align-self: center;
    padding-left: 25%;
    z-index: 1000;
}

.graphics__images{
    display: flex;
    padding: 5%;
	  transition: 0.3s;
    overflow: hidden;
    flex-wrap: wrap;
}

.graphics__image{
    border-radius: 20rem;
    display: block;
	  width: auto;
    height: auto;
    max-width: 350px;
    max-height: 500px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding: 30px;
    filter: grayscale(90%);
}

.graphics__image:hover{
    filter: grayscale(0%);
}

.imgRow{
    display: grid;
    grid-row: auto;
    grid-template-columns:25% 25% 25%;
    align-items: center;
}

.noImg{
    width: 25px;
    padding: 20px;
    pointer-events: none;
}

/*==================== POP-UP STORE ====================*/

.popup__section{
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  z-index: 1;
}

.popup__container{
  border-radius: 3rem;
  background: #ffffff6d;
  width: 90%;
  height: 90%;
}
  
.popup__content{
    padding-top: 5rem;
}

.popup__images {
  display: flex;
  width: 35%;
  height: 25%;
  filter: grayscale(90%);
}

.popup__image{
  margin-right: 30%;
  border-radius: 25rem;
  margin-left: 20%;
}

.popup__description{
  margin-top: 5%;
  font-size: 20px;
  font-family: var(--span-font);
  color:black;
}

/*==================== REVIEW ====================*/

.review__section{
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.review__container{
    width: 100%;
}
  
.review__content{
    padding-top: 10rem;
}

.review__carousal{
    display: flex;
    overflow-x: auto;
}

.review__name{
    font-size: 85px;
    display: flex;
    align-items: center;
    color: var(--first-color-yellow);
    padding: 8rem;
    margin-right: 5rem;
    white-space: nowrap;
    transform: rotate(-30deg);
    font-family: var(--special-font);
}

.review__carousal::-webkit-scrollbar{
    width: 0;
}

.review__image{
    width: 500px;
    height: 500px;
    margin-right: 20px;
    text-align: center;
    border-radius: 18px;
}

.review__image:hover{
  filter: opacity(50%);
}


/*==================== PINK ARTSY GALLERY ====================*/

.pinkartsy__section{
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    z-index: 0;
}

.inkartsy__container{
    gap: 1rem;
    width: 100%;
}
  
.inkartsy__content{
    padding-top: 5rem;
}

.pinkartsy__swiper {
    width: 500px;
    height: 600px;
    border-radius: 20rem;
}

.pinkartsy__swiper:hover{
  filter: grayscale(90%);
}

.pinkartsy__description{
  margin-left: 50%;
  font-family: var(--thai-font);
  transform: rotate(5deg);
  color: var(--first-color-yellow);
  text-decoration: line-through;
  font-size: 50px;
}

.pinkartsy__description_1{
  margin-left: -65%;
  margin-top: -15%;
  font-family: var(--special-second-font);
  transform: rotate(-3deg);
  color: var(--first-color-yellow);
  text-decoration: overline;
  font-size: 50px;
}
  
.spinkartsy__images {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.spinkartsy__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*==================== DINOSAUR GALLERY ====================*/

.dino__section{
    width: 70%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
}

.dino__container{
    width: 100%;
}
  
.dino__content{
    padding-top: 5rem;
}

.dino__description{
  margin-top: -5%;
  margin-left: 900px;
  color: var(--first-color-yellow);
  font-size: 70px;
  font-family: var(--special-font);
}

.dino__swiper {
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
.dino__images {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 500px;
}

.dino__image {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 500px;
    border-radius: 18px;
}

.dino__image:hover{
    filter: opacity(50%);
}


/*==================== GUESS GALLERY ====================*/

.guess__section{
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  align-items: center;
  display: flex;
}

.guess__container{
  gap: 1.5rem;
  align-content: center;
  width: 50%;
  height: 75%;
  z-index: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  flex-direction: column;
  justify-content: center;
  border-radius: 100px;
  align-items: center;
  align-content: flex-start;
}

.guess__content {
  justify-content: center;
  width: 80%;
  display: flex;
  align-items: center;
  align-content: center;
}

.guess__swiper{
  gap: 1.5rem;
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.guess__swiper::before,
.guess__swiper::after{
  position: absolute;
  top: 0;
  width: 550px;
  height: 100%;
  content: "";
  z-index: 2;
}

.guess__swiper__track{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(350px * 14);
  animation: autoPlay 15s linear infinite;
  box-sizing: border-box;
}

.guess__swiper__track:hover{
  animation-play-state: paused;
}

@keyframes autoPlay{
  from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
}

.guess__images{
  height: 300px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 18px;
  align-items: center;
}

.guess__image{
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 1rem;
}

.guess__image:hover{
  transform: scale(1.1);
  border-radius: 1rem;
  filter: grayscale(90%);
  animation-play-state: paused;
}

/*==================== GREEN GALLERY ====================*/

.green__section{
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    z-index: 0;
}

.green__container{
    gap: 1rem;
    width: 100%;
}
  
.green__content{
    padding-top: 5rem;
}

.green__description{
  margin-left: 550px;
  color: var(--first-color-yellow);
  font-size: 70px;
  font-family: 'Imbue', serif;
}

.green__cards {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 500px;
    box-sizing: border-box;
}

.green__images {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: var(--first-color-white);
}

.green__circle{
  margin-top: -39%;
  margin-left: 750px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--first-color-white);
}

.green__description_1{
  margin-top: -5%;
  margin-left: -600px;
  color: var(--first-color-yellow);
  font-size: 70px;
  font-family: var(--special-font);
}

.green__description_2{
  margin-top: 0%;
  margin-left: -900px;
  color: var(--first-color-yellow);
  font-size: 70px;
  font-family: var(--special-font);
}


/*==================== SHIRT GALLERY ====================*/

.shirt__section{
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    justify-content: center;
    align-items: center;
    display: flex;
}

.shirt__container{
  gap: 1.5rem;
  align-content: center;
  width: 50%;
  height: 75%;
  z-index: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  flex-direction: column;
  justify-content: center;
  border-radius: 100px;
  align-items: center;
  align-content: flex-start;
}
  
.shirt__content{
    justify-content: center;
    width: 80%;
    display: flex;
    align-items: center;
    align-content: center;
}

.shirt__swiper{
    gap: 1.5rem;
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
  }
  
  .shirt__swiper::before,
  .shirt__swiper::after{
    position: absolute;
    top: 0;
    width: 550px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .shirt__swiper__track{
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(350px * 14);
      animation: autoPlayRight 15s linear infinite;
      box-sizing: border-box;
  }
  
  .shirt__swiper__track:hover{
      animation-play-state: paused;
  }
  
  @keyframes autoPlayRight{
    from {
        transform: translateX(-50%);
      }
      to {
        transform: translateX(0%);
      }
  }
  
  .shirt__images{
      height: 300px;
      width: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      border-radius: 1rem;
      align-items: center;
  }
  
  .shirt__image{
      align-items: center;
      justify-content: center;
      width: 100%;
      border-radius: 1rem;
  }
  
  .shirt__image:hover{
      transform: scale(1.2);
      border-radius: 1rem;
      filter: grayscale(90%);
      animation-play-state: paused;
  }


/*==================== SOON GALLERY ====================*/

.soon__section{
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    z-index: 0;
}

.soon__container{
    gap: 1rem;
    width: 100%;
    height: 90%;
}
  
.soon__content{
  padding-top: 3rem;
}

.soon__images{
  display: flex;
  align-items: center;
  justify-content: center;
}

.soon__image{
  padding: 20px;
  max-width: 300px;
  max-height: 450px;
  border-radius: 20rem;
  filter: grayscale(90%);
}

.soon__image:hover{
  filter: grayscale(0%);
}

.soon__description{
  color: var(--first-color-yellow);
  font-size: 50px;
  font-family: var(--special-second-font);
}

.soon__description__cursor{
  color: var(--first-color-yellow);
}

/*==================== ENDING ====================*/

.ending__section{
    height: 85vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.ending__container{
    gap: 1rem;
    width: 100%;
}
  
.ending__content{
    padding-top: 10rem;
}

.ending__description{
  color: var(--first-color-yellow);
  font-family: var(--span-font);
  font-size: 30px;
}

