.portfolio{
    text-align: center;
}

/*==================== PORTFOLIO ====================*/
.portfolio__section {
  height: 100vh;
  width: 100%;
}
  
.portfolio__container {
  gap: 1rem;
  width: 100%;
}
.portfolio__content,

.portfolio__links{
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.portfolio__link{
  color: var(--first-color-white);
  font-weight: 500;
  text-decoration: none;
}

.portfolio__link span:hover{
  color: var(--first-color-second);
  font-style: italic;
  text-decoration: none;
}